<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="col-md-3 control-label">Title</label>
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="Title" formControlName="title" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Price</label>
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="Price" formControlName="price" />
          <div *ngIf="priceField.dirty">
            <p *ngIf="priceField.hasError('price_invalid')" class="text-danger">no te debes pasar de 10000</p>
            <p *ngIf="priceField.hasError('required')" class="text-danger">el campo es requerido</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Description</label>
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="Description" formControlName="description" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Image</label>
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="Image" formControlName="image" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3"></label>
        <div class="col-md-9">
          <button [disabled]="form.invalid" class="btn btn-primary " type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</form>
